*,*::before,*::after {box-sizing: border-box;}
ul,ol {padding: 0;}
body,h1,h2,h3,h4,p,ul,ol,li,figure,figcaption,blockquote,dl,dd {margin: 0;}
body {min-height: 100vh;scroll-behavior: smooth;text-rendering: optimizeSpeed;line-height: normal;}
ul,ol {list-style: none;}
a {text-decoration: inherit;color: inherit;}
a:not([class]) {text-decoration-skip-ink: auto;}
img {max-width: 100%;display: block;}
input,button,textarea,select {font: inherit;}
@media (prefers-reduced-motion: reduce) {* {animation-duration: 0.01ms !important;animation-iteration-count: 1 !important;transition-duration: 0.01ms !important;scroll-behavior: auto !important;}}

.container-medium {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

.header {
  width: 100%;
  background-color: rgba(204, 204, 204, 0.411);
  padding: 20px;
}

.header a {
  display: inline-block;
  margin-right: 20px;
}
.header a.active {
  text-decoration: underline;
}




.request-status {
  text-align: center;
}
.request-status.error {
  color: red;
}
.request-status.done {
  color: green;
}

.text-center {
  text-align: center;
} 

/* .issue-list {
  margin-bottom: 20px;
}

.issue-item {
  border: 1px solid rgba(204, 204, 204, 0.7);
  box-shadow: 0 0 3px 2px #ccc;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.issue-item + .issue-item {
  margin-top: 20px;
}
.issue-item a:hover {
  text-decoration: underline;
}

.issue-item_box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.issue-item_box:first-child {
  flex-basis: 70%;
}


.issue-item_header {
  display: flex;
  justify-content: space-between;
}
*/


/* 
.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.pagination li {
  border: 1px solid #ccc;
  box-shadow: 0 0 3px 1px rgba(204, 204, 204, 0.7);
  border-radius: 4px;
  background-color: #fff;
}
.pagination li.active {
  background-color: rgba(204, 204, 204, 0.8);
}
.pagination li:hover {
  background-color: rgba(204, 204, 204, 0.5);
}
.pagination a {
  display: inline-block;
  padding: 10px 15px;
} */
